 #map {
     height: 100vh;
     max-width: 100%;
     position: relative;
 }

 * {
     margin: 0;
     padding: 0;
     font-family: Arial, Helvetica, sans-serif;
     box-sizing: border-box;
 }

 .weather {
     width: 170px;
     padding: 3px;
     display: flex;
     align-items: center;
     justify-content: center;
     position: absolute;
     background-color: #727dfb;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     left: 63.4%;
     top: 0;
     transform: translate(-50px, 15px);
     border-radius: 6px;
 }

 .select_map {
     position: absolute;
     top: 3%;
     left: 47%;
     box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
 }

 .select_map select {
     background-color: #727dfb;
     color: #ffffff;
     padding: 10px;
     width: 170px;
     border: none;
     font-size: 15px;
     box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
     -webkit-appearance: button;
     appearance: button;
     outline: none;
 }

 .weather .cation .city {
     font-size: 15px;
     font-weight: bold;
     font-family: Arial, Helvetica, sans-serif;
     margin: 0;
 }

 .weather .cation .status {
     color: #fff;
     margin: 0;

 }

 #floating-panel {
     z-index: 1000;
     text-align: center;
     line-height: 30px;
 }

 #mode {
     width: 100px;
     padding: 5px;
     border: none;
 }

 #modes {
     width: 100px;
     padding: 5px;
     border: none;
 }

 #distances {
     font-size: 25px;
     font-weight: 700;
 }

 .search-container {
     border-radius: 6px;
     position: absolute;
     z-index: 100;
     top: 20px;
     right: 70px;

 }

 .search-container .search {
     background-color: white;
     position: relative;
     display: flex;
     justify-content: space-between;
     transition: 0.5s;
     overflow: hidden;
     box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.308);
     width: 50px;
     height: 50px;

 }

 .search-container .search.active {
     width: 300px;
 }

 .search-container .search.active .close-box {
     scale: 1;
     transition-delay: 0.5s;
 }

 .search-container .search .search-box {
     position: relative;
     min-width: 50px;
     height: 50px;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 1.5rem;
     cursor: pointer;
 }

 .search-container .search .close-box {

     position: relative;
     width: 50px;
     height: 50px;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 1.2rem;
     cursor: pointer;
     scale: 0;
     transition: 0.5s;
 }

 .search-container .search-input {
     position: absolute;
     left: 50px;
     width: calc(100% - 100px);
     height: 100%;
     line-height: 50px;
 }

 .search-container .search-input input {
     position: absolute;
     height: 100%;
     width: 100%;
     border: none;
     outline: none;
     font-size: 1.25rem;
 }

 .search-container input:focus {
     outline: none;
 }


 .stores-list-container {
     width: 300px;
     position: absolute;
     z-index: 100;
     background-color: white;
     right: 68px;
     top: 72px;
     height: 400px;
     display: flex;
     overflow-y: hidden;
     box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.308);
     opacity: 0;
     transition: opacity linear 0.3s;

 }

 .store-container {
     border-bottom: 1px solid #979797;
     display: flex;
     cursor: pointer;
 }

 .store-address {
     font-size: 21px;
     color: #514C4C;
     margin-top: 30px;
 }

 .store-phone-number {
     color: #B5ADAD;
     margin-top: 15px;
     margin-bottom: 15px;
 }

 .store-address span {
     display: block;
 }

 .store-number {
     width: 30px;
     height: 30px;
     background-color: #727dfb;
     color: #000;
     border-radius: 50%;
     font-size: 12px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-weight: 600;
 }

 .store-info-container {
     flex-grow: 1;
 }

 .store-number-container {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .stores-list {
     flex-grow: 1;
     overflow-y: scroll;
     padding-left: 20px;
     padding-right: 20px;

 }

 .store-info-window {
     min-width: 300px;
     font-size: 18px;
     padding: 8px;
 }

 .store-info-name {
     font-size: 24px;
     font-weight: bold;
     color: rgba(0, 0, 0, .87);
 }

 .store-info-status {
     margin-top: 6px;
     border-bottom: 1px solid #00000029;
     padding-bottom: 6px;
 }

 .store-info-address,
 .store-info-phone {
     margin-top: 8px;
     display: flex;
     align-items: center;
 }

 .direction {
     position: absolute;
     left: 29%;
     top: 15px;
     z-index: 1000;
     display: none;
 }

 .directions {
     position: absolute;
     left: 29%;
     top: 15px;
     z-index: 1000;

 }

 #show-location,
 #hide-location {
     background-color: #727dfb;
     color: #fff;
     outline: none;
     border: none;
     padding: 6px;
     cursor: pointer;
     border-radius: 5px;
 }

 .input_form a {
     background-color: #727dfb;
     font-size: 16px;
     padding: 5px 6px 5px 6px;
     border-radius: 6px;
     border: none;
     box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
     color: #fff;
     cursor: pointer;
 }

 .form-group {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .input_form input,
 .input_to input {
     width: 220px;
     padding: 5px;
     border: none;
     box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
     border-radius: 5px;
     font-size: 16px;
     margin-bottom: 6px;
 }

 .btn-run {
     background-color: #727dfb;
     color: #fff;
     outline: none;
     border: none;
     padding: 6px;
     cursor: pointer;
     border-radius: 5px;
     width: 50px;
 }

 .bx-radio-circle-marked,
 .bxs-map {
     color: #727dfb;
     font-size: 25px;
 }

 .bx-map-pin,
 .bx-time-five,
 .bx-tachometer {
     font-size: 24px;
     color: #0563af;
 }

 .store-container-background {
     display: flex;
     align-items: center;
     justify-content: space-between;
     width: 230px;

 }

 .tabs-content {
     position: absolute;
     width: 380px;
     height: 100vh;
     background-color: #fff;
     left: 0;
     bottom: 0;
     transform: translateX(-100%);
     transition: transform linear 0.3s;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }

 .tabs-image img {
     width: 100%;
     height: 100%;
 }

 .tabs-address {
     padding: 16px 24px;
     flex: auto;
 }

 .tabs-address span {
     font-size: 1.375rem;
     font-weight: 500;
     letter-spacing: 0;
     line-height: 1.75rem
 }

 .line {
     border-bottom: 1px solid #e8eaed;
 }

 .tabs-app {
     padding: 10px 22px;
     flex-wrap: wrap;
     display: flex;
 }

 .tab-app-item {
     text-align: center;
     -webkit-box-flex: 1;
     -webkit-flex: 1 1 0px;
 }

 .tab-app-com {
     width: 100%;
 }

 .button-app {
     background-color: transparent;
     border: none;
     text-decoration: none;
 }

 .icon-app {
     background-color: rgb(26, 115, 232);
     border-radius: 36px;
     cursor: pointer;
     padding: 7px;
     color: white;
     font-size: 25px;
 }

 .name-app {
     color: rgb(26, 115, 232);
 }

 .address-item {
     padding-top: 8px;
     padding-bottom: 8px;
     display: flex;
     padding: 12px 24px;
 }

 .address-item i {
     font-size: 28px;
     display: block;
     width: 48px;
     color: rgb(26, 115, 232);
 }

 .address-name {
     line-height: 25px;
     overflow: hidden;
 }

 #kilomet {
     margin-right: 10px;
 }

 .model-play {
     position: fixed;
     z-index: 1999;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     padding-top: 80px;
     background-color: rgb(0, 0, 0);
     background-color: rgb(0, 0, 0, 0.4);
     display: none;
 }

 .model-select {
     width: 70%;
     text-align: center;
     margin: auto;
     background-color: #fff;
     height: 80%;
     position: relative;
     padding: 20px;
 }

 .model-select .close-boxs {
     position: absolute;
     top: 10px;
     right: 13px;
     font-size: 2.2rem;
     cursor: pointer;
 }
 .model-select .close-boxs:hover{
    color: red;
 }
 .select-places {
     position: absolute;
     top: 80px;
     right: 44%;
 }
 .name-table{
    color: #0563af;
 }
 .select-places button {
     padding: 7px;
     border: none;
     background-color: #727dfb;
     color: #ffffff;
     box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
 }

 .tables {
     width: 100%;
 }
 .deleteds{
    padding: 5px;
    border: none;
    width: 50px;
    color: red;
    cursor: pointer;
 }
 .tables th,
 .tables td {
    padding: 7px;
 }
 .tables th{
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
    background-color: #727dfb;
    color: white;
    
 }
 .delete{
    color: red;
    cursor: pointer;
 }
 @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
     .model-select {
         width: 70%;
         text-align: center;
         margin: auto;
         background-color: #fff;
         height: 80%;
         position: relative;
         padding: 20px;
         -webkit-animation-name: animatetop;
         -webkit-animation-duration: 0.4s;
         animation-name: animatetop;
         animation-duration: 0.4s
     }
     .showmenu{
        position: absolute;
        z-index: 100000;
        height: 40px;
        top: 52px;
        width: 40px;
        left: 68px;
        
    }
    .showmenu i{
        font-size: 33px;
        background-color: #fff;
        padding: 8px;
        cursor: pointer;
    }
     .hidemenu{
        position: absolute;
        z-index: 100000;
        height: 40px;
        top: 52px;
        width: 40px;
        left: 68px;
        display: none;
    }
    .hidemenu i{
        font-size: 33px;
        background-color: #fff;
        padding: 8px;
        cursor: pointer;
    }
    .menushow{
        display: none;
    }
     .model-select .close-boxs {
         position: absolute;
         top: 10px;
         right: 13px;
         font-size: 2.2rem;
         cursor: pointer;
     }

     .select-places {
         position: absolute;
         top: 124px;
         right: 57%;
     }

     .select-places button {
         padding: 7px;
         border: none;
         background-color: #727dfb;
         color: #ffffff;
         box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
     }

     .tables {
         width: 100%;
     }

     .tables th,
     .tables td {
         padding: 8px;
     }

     .direction {
         position: absolute;
         left: 18%;
         top: 15px;
         z-index: 1000;
         display: none;
     }

     .directions {
         position: absolute;
         left: 18%;
         top: 15px;
         z-index: 1000;

     }

     .input_form input,
     .input_to input {
         width: 170px;
         padding: 5px;
         border: none;
         box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
         border-radius: 5px;
         font-size: 16px;
         margin-bottom: 6px;
     }

     .address-name {
         width: 400px;
     }

     .weather {
         padding: 3px;
         display: flex;
         align-items: center;
         justify-content: center;
         position: absolute;
         background-color: #727dfb;
         left: 47%;
         top: 0;
     }

     .select_map {
         position: absolute;
         top: 10.5%;
         left: 44%;
         box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
     }

     .search-container {
         border-radius: 6px;
         position: absolute;
         z-index: 100;
         top: 19px;
         right: 78px;
         height: 30px;
     }

     .search-container .search.active {
         width: 240px;
     }

     .search-container .search .search-box {
         font-size: 1.5rem;
     }

     .search-container .search .close-box {
         font-size: 1.2rem;
     }

     .stores-list-container {
         width: 240px;
         position: absolute;
         z-index: 100;
         background-color: white;
         right: 78px;
         top: 70px;
         border-radius: 6px;
         height: 354px;
         display: flex
     }

     .tabs-content {
         position: absolute;
         width: 100%;
         height: 25vh;
         background-color: #fff;
         left: 0;
         bottom: 0;
         display: flex;
     }

     .tabs-app {
         padding: 20px 15px;
         display: flex;
         flex-wrap: wrap;
         margin-left: -10px;
         margin-right: -10px;
     }

     .tab-app-item {
         flex: 0 0 50%;
         max-width: 50%;
     }
 }

 @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
     .model-select {
         width: 70%;
         text-align: center;
         margin: auto;
         background-color: #fff;
         height: 80%;
         position: relative;
         padding: 20px;
         -webkit-animation-name: animatetop;
         -webkit-animation-duration: 0.4s;
         animation-name: animatetop;
         animation-duration: 0.4s
     }

     .model-select .close-boxs {
         position: absolute;
         top: 10px;
         right: 13px;
         font-size: 2.2rem;
         cursor: pointer;
     }

     .select-places {
         position: absolute;
         top: 114px;
         right: 53%;
     }

     .select-places button {
         padding: 7px;
         border: none;
         background-color: #727dfb;
         color: #ffffff;
         box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
     }

     .tables {
         width: 100%;
     }

     .tables th,
     .tables td {
         padding: 8px;
     }
     

     .direction {
         position: absolute;
         left: 21%;
         top: 15px;
         z-index: 1000;
         display: none;
     }

     .directions {
         position: absolute;
         left: 21%;
         top: 15px;
         z-index: 1000;

     }

     .input_form input,
     .input_to input {
         width: 130px;
         padding: 5px;
         border: none;
         border-radius: 5px;
         font-size: 13px;
         margin-bottom: 5px;
     }

     .address-name {
         width: 300px;
     }

     .weather {
         padding: 2px;
         display: flex;
         align-items: center;
         justify-content: center;
         position: absolute;
         background-color: #727dfb;
         left: 53%;
         top: 0;
     }

     .select_map {
         position: absolute;
         top: 5.3%;
         left: 48%;
         box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
     }

     .search-container {
         border-radius: 6px;
         position: absolute;
         z-index: 100;
         top: 20px;
         right: 78px;
         height: 30px;
     }

     .search-container .search.active {
         width: 200px;
     }

     .stores-list-container {
         width: 200px;
         position: absolute;
         z-index: 100;
         background-color: white;
         right: 78px;
         top: 70px;
         border-radius: 6px;
         height: 325px;
         display: flex
     }

     .tabs-content {
         position: absolute;
         width: 100%;
         height: 13.5vh;
         background-color: #fff;
         left: 0;
         bottom: 0;
         display: flex;
     }

     .tabs-app {
         padding: 15px 15px;
         display: flex;
         flex-wrap: wrap;
         margin-left: -4px;
         margin-right: -4px;
     }

     .tab-app-item {
         flex: 0 0 50%;
         max-width: 50%;
     }
 }